################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PureHololens2Hands/Library
/PureHololens2Hands/Logs
/PureHololens2Hands/Temp
/PureHololens2Hands/Packages
*.csproj
*.sln
/PureHololens2Hands/obj
*.vs/