################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PureHololens2Hands/Library
/PureHololens2Hands/Logs
/PureHololens2Hands/Temp
/PureHololens2Hands/UserSettings
/PureHololens2Hands/obj
*.csproj
*.sln
*.vs/
